<footer class="py-5 bg-light mt-5">
    <div class="container text-center">

        <div class="row mb-2">
            <div class="col">
                <section class="icon-list">
                  <i class="nes-icon github is-large"></i>
                  <i class="nes-icon gmail is-large"></i>
                  <i class="nes-icon linkedin is-large"></i>
                  <i class="nes-icon whatsapp is-large"></i>
                </section>
            </div>

        </div>
        <div class="row">
            <div class="col">
                Copyright 2024 Matias Fernandez
            </div>

        </div>

    </div>
</footer>